@import "../../scss/config";

.comidasLink {
    margin: auto;
    text-decoration: none;
    background-color: white;
    @include transitionEase;

    &:hover{
        box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.55);
    }
    //padding: 1rem;
}

.comidasContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    max-width: 20rem;
    justify-self: center;
    text-align: center;
    
}

.comidasName {
    font-weight: 500;
    padding: 0.5rem 0 0.5rem 0;
}

.comidasImg{
    height: 20rem;
    width: 20rem;
}

.comidasPrecio{
    font-weight: 500;
    padding: 0.5rem 0 1rem 0;
}