.comidasLink {
    margin: auto;
    text-decoration: none;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    //padding: 1rem;
}

.comidasContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    max-width: 20rem;
    justify-self: center;
    text-align: center;
}

.comidasName {
    padding: 0.5rem 0 1rem 0;
    font-weight: 500;
}

.comidasImg{
    height: 20rem;
    width: 20rem;
    border-radius: 1rem;
}